<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.web>
        <authorization>
            <allow roles="admin" />
            <deny users="?" />
        </authorization>
    </system.web>-->
    <system.web>
        <authorization>
            <allow users="mike" />
            <allow roles="developer" />
            <allow roles="admin" />
            <allow roles="csr" />
            <deny roles="member" />
            <deny users="?" />
            <deny users="*" />
        </authorization>
    </system.web>
</configuration>
